@import "import";
// input

.mat-form-field-infix{
	padding-bottom: vh(11) !important;
}

// modal

.mat-dialog-container{
	padding: 0 !important;
}

// button

.mat-raised-button{
	box-shadow: none !important;
}